@import "tailwindcss";

body {
  color: #6272a4;
  margin: 0;
  background-color: #282a36;
}

header {
  background-color:;
  padding: 20px;
  text-align: center;
}

header h1{
  margin: 0;
  color: #50fa7b;

}

header h2 {
  margin: 0;
  color: #ff5555
}


